
ul{
  padding: 0;
}
li{
  list-style-type: none;
}
.langs {
  display: flex;
  justify-content: center;
}
.langs li{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
img{
  width: 50%;
}
.battle-form{
  padding-top: 20%;
}
.midle{
  size: 50%;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}